$main-font: Lato, sans-serif;
$head-font: Raleway, sans-serif;
$font-color-white: #fff;
$font-color-black: #222222;
$header-color: #fff;
$font-size: 22px;
$head-size: 35px;
$font-height: 1.4; //line-height
$font-weight: 400;
$color-bg: #fff;


/** Grid variables **/
$container-width: 1170px;
$col-padding: 15px;