@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400|Raleway:700');
@import "normalize";
@import "variables";
@import "mixin";
@import "grid";


*, *:after, *:before{
	@include box-sizing;
}

body{
	font-family: $main-font;
	color: $font-color-white;
	line-height: $font-height;
}

h1, h2 {
	font-family: $head-font; 
	text-transform: uppercase;
}

h2 {
	font-size: $head-size;
}

a {
	display: inline-block;
	text-decoration: none;
	outline: none;
	color: currentcolor;
}

a:hover {
	color: #c94821;
}

a:focus {
	color: #6c414d;
}

main {
	background: #011d2b url('../img/bq-head.png') no-repeat center center;
	background-size: cover;
	padding-top: 50px;
	text-align: center;
}

.logo {
    display: inline-block;
    float: left;
    height: auto;
    padding-top: 20px;
}

.logo img {
	 max-width: 100px;
}

 .menu {
    float: right;
    text-align: right;
 }

  .menu li{
  	font-size: 14px;
    display: inline-block;
    margin: 0 20px;
 	text-align: left;
 }

 .menu li a {
 	text-transform: uppercase;
 	color: $font-color-white;
 }

 .main-info {
 	padding-top: 100px;
 	padding-bottom: 40px;
 	margin-left: 20%;
 }

 h1 {
 	position: relative;
 	font-size: 48px;
 	margin-bottom: 2em;
 }

 h2 {
 	position: relative;
 	margin-bottom: 2em;
 }

 h1::after, 
 h2::after {
   display: block;
   position: absolute;
   content: "";
   height: 2px;
   bottom: -1em;
   width: 15%;
   background-color: #fff;
   left: 45%;
}

h2::after {
	width: 10%;
	background-color: #222222;
	bottom: -1.5em;
}


.scroll {
	padding-top: 240px;
}

// Services
.services {
	color: $font-color-black;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 70px;
}

.services-info {
	padding-top: 50px;
	text-align: center;
}

.design {
	text-align: center;
	padding-top: 30px;
}

.app {
	padding-top: 15px;
	text-align: center;
}

// Dolore
.dolore {
	background: url('../img/bg-ghost.png') no-repeat center center;
	background-size: cover;
}

.dolore h2 {
	font-family: $main-font; 
	font-size: 45px;	
	margin-bottom: 0;
	text-transform: uppercase;
}

.dolore-info {
	padding-top: 150px;
	padding-bottom: 100px;
	font-weight: 300;
}

.dolore-info a {
	text-decoration: underline;
}

.dolore-info h2::after {
	display: none;
}

.dolore-info p {
	width: 95%;
	font-size: $font-size;
}


// Work
.work {
	color: $font-color-black;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 70px;
}

.more {
	font-size: 24px;
	text-transform: uppercase;
	line-height: 2;
	border: 2px solid #222222;
	margin-top: 50px;
}

.work .row .col-4 {
	position: relative;
}

.img-wrap p {
	display:none;
	color:  #fff;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	padding-top: 50%;
	margin: 0;
}

.img-wrap:hover p {
	display:block;
    position:absolute;
    top: 0;
	left: 15px;
	right: 5px;
	bottom: 5px;
    z-index:5;
    background: rgba(64, 64, 64, 0.5);
    transition: opacity 0.5s ease;
    @include transition($prop, $time, $funct);
}

.work-img {
	padding-top: 50px;
}
 
 
